body{
  background-color: #572215;
}

header + div{
  background-color: #c48a53;
  height: 750px;
}

.page-text-style{
    text-align: justify;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 5%;
    font-size: 18px;
    color: black;
}

.center_italique{
    text-indent: 0%;
    text-align: justify;
    text-align-last: center;
    font-style: italic;
}

.over_tab{
    text-indent: 0;
    margin-left: 5%;
    margin-right: 5%;
}

footer{
  margin-top: 10px;
}
