.index-text-style{
    text-align: justify;
    text-indent: 5%;
}

.NaNo_headband{
  background-image: url("../Categories/NaNoWriMo_2020/NaNo-headband.png");
  weight: 100%;
  background-position: center
  color: #56301d;
}

body, html{
    background:url('../Categories/NaNoWriMo_2020/Chene_noir_blanc.svg');
    background-color: #572215;
    background-size:100% 100%;
    margin:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
}

/*pagination*/
.page-link{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #003C00;
  background-color: #D8EBEB;
}

.page-item.disabled .page-link{
  color: #868e96;
  pointer-events: none;
  cursor: auto;
  background-color: #718393;
  border-color: #718393;
}

.page-item.active .page-link{
  z-index: 1;
  color: #fff;
  background-color: #003C00;
  border-color: #003C00;
}

.page-link:focus, .page-link:hover{
  color: #fff;
  text-decoration: none;
  background-color: #003C00;
  border-color: #718393;
}
