body{
  background-color: #d0d0d0;
}

#headband{
  background:url('crayon.svg');
  background-color: #7a7878;
  background-size: 5% 45%;
  margin:0;
  width:100%;
  height:100%;
  background-repeat:repeat;
}

#NaNoWriMo{
  background-image: url("../NaNoWriMo/oak.svg");
  background-color: #572215;
}

#Inktober{
  background-image: url("../Inktober/background.svg");
  background-color: black;
}

#NaNoWriMo, #Inktober{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

a{
  text-decoration:none;
  display: block;
  color: #07613a;
}

h2{
  font-size: 35px;
  text-align: center;
}

#NaNoWriMo > article > p{
  padding: 15px;
  text-indent: 5%;
  text-align: justify;
}

#NaNoWriMo > article > p, #Inktober > .container > .row > .col-sm > p{
  font-size: 20px;
}

.bottom-illustration{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
