.index-text-style{
    text-align: justify;
    text-indent: 5%;
}

.headband{
  background-image: url("headband.png");
  background-color: color: #56301d;
  weight: 100%;
  text-align: center;
  font-size: 2rem;
  padding : 50px;
  margin-bottom: 50px;
  margin-top: 5px;
  color: black;
}

body, html{
    background:url('oak.svg');
    background-color: #572215;
    background-size:100% 100%;
    margin:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
}
